.LandingImage {
  max-height: 92.8vh;
  margin-left: 5vw;
  animation: moveImage 1150ms cubic-bezier(0, 1.3, 0.5, 1) 0s 1 forwards;
}
.landing_background {
  background: linear-gradient(to Right, #060a2ffa, #ececec95 62%);
  /* background-color: #0407206d; */
}
.no_scroll {
  overflow: hidden;
}

.landing_title {
  /* font-size: 2em; */
  color: #040720d0;
  font-family: montserrat;
  font-weight: 300;
  transform: scale(0.98);

  text-shadow: -3px 3px 10px #0101015e;
}
.animateRight {
  animation: moveText 1850ms cubic-bezier(0, 1.3, 0.5, 1) 0s 1 forwards;
}

@keyframes moveImage {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveText {
  0% {
    transform: translateY(-240px);
  }

  100% {
    transform: translateY(0px);
  }
}
@media (width <= 576px) {
  .LandingImage {
    display: none;
  }
  .landing_background {
    height: 100vh;
    background: linear-gradient(to bottom, #040720f3, #fffeff9f 70%);
  }
  .content {
    height: 70vh;
  }
}
