.text-input {
  border-radius: 10px;
  border : 3px solid #fff;
  box-shadow: 0px 3px 5px 1px #02020221;
  /* border-color: transparent; */
  padding: 2px;
  min-height: 1.3em;
  min-width: 1em;
  font-size: 1.1em;
  font-weight: 400 !important;
  font-family: "open sans";
  background-color: #fff;
}

.form-text {
  color: #020202;
  font-family: "open sans";
  font-size: 1.1em;
  font-weight: 400;
}

label.form-text {
  font-size: 1.22em;
  font-weight: 400 !important;
}

.error {
  font-weight: 400;
  color: #ff0000;
}

.my-select {
  max-height: 100px !important;
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0px 3px 3px 1px #0202021d;
  background-color: #fff;
  font-size: 1.15em;
}

option {
  padding: 5px 0px;
}
