.text-input {
  border-radius: 20px;
  box-shadow: 0px 2px 8px 1px #01010169;
  border-color: transparent;
  min-height: 1.3em;
  min-width: 1.2em;
  font-size: 1.1em;
  font-weight: light !important;
  font-family: Montserrat;
}

.form-text {
  color: #010101;
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: bold;
}

.error {
  font-weight: 300;
  color: #ff0000;
}

.my-select {
  max-height: 100px !important;
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0px 5px 8px 1px #01010169;
  font-size: 1.15em;
}

option {
  padding: 5px 0px;
}
