.header {
  min-height: 3vh;
}
.landing_navbar {
  background-color: transparent;

  color: #040720f3 !important;
}
.billboard_navbar {
  background-color: #040720db;
  box-shadow: 0px 4px 8px 1px #0202022c;
  border-bottom: 1px solid #040720f3;
  color: #efefef !important;
  z-index: 99;

  width: 100%;
}
a {
  text-decoration: none !important;
  color: inherit;
}
a :hover {
  color: inherit;
}
.link {
  color: inherit !important;
  font-size: 1.5em;
  font-family: "open sans";
  font-weight: 300;
  margin-left: 2px;
  margin-right: 2px;
  transition: all 250ms ease-out;
}
.link-header {
  color: #efefef !important;
  font-size: 1.4em;
  font-family: "open sans";
  font-weight: 300;
  margin-left: 2px;
  margin-right: 2px;
  transition: all 250ms ease-out;
}
.logout {
  font-weight: 700;
}

.link:hover {
  transform: translateY(-3px) !important;
}

.no-style {
  color: #020202;
  text-decoration: none;
}

/* 7634e7 */
/* #0442e2 */
