.modal-content {
  border-radius: 12px !important;
  width: 100%;
  background-color: #e9e9e9;

  /* animation: slideModal 750ms ease-out 0 1 forwards !important; */
}
.modal-header {
  border-radius: 12px !important;
  width: 100%;
}
.modal-dialog {
  border-radius: 12px !important;
  min-width: 40%;
  overflow-x: hidden !important;
  background-color: #e9e9e9;
  transition: all 500ms ease-out !important;
  animation: growModal 800ms cubic-bezier(0,1.3,0.5,1) 0ms 1 forwards !important;
}
.btn-close {
  background-color: #efefef;
}

.display-5 {
  font-family: "open sans";
  color: #fffeff;
  font-size: 1.3em;
}
@media (width <= 576px) {
  .modal-content {
    width: clamp(200px, 100%, 100%);
  }
}

@keyframes slideModal {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes growModal {
  

  0% {
    transform: translateX(-15vw);
    opacity: 0.1;
  }
  100% {
    transform: translateX(00px);
    opacity: 1;
  }
}
