.billboard-card {
  padding: 0;
  border: none;
  box-shadow: 0px 6px 10px 1px #01010169;
  width: fit-content;
  animation: moveImage 550ms cubic-bezier(0, 0, 0.53, 0.83) 0s 1 forwards;
}

.my-rounded {
  border-radius: 18px;
}
.card-text {
  font-weight: 300;
  font-family: "open sans";
  font-size: 80%;
}
.card-image {
  width: clamp(40%, 50%, 50%);
  margin-left: auto;
  margin-right: auto;
}


@keyframes moveImage {
  0% {
    transform: translateX(-300px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
